#noLogueado {
    background: rgb(88, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}

form input {
    padding: 5px;
    cursor: pointer;
    display: block;
}

.principalTitle{
    font-size: 80px;
    text-align: center;
}


.formLoggin{
    border-style: groove;
    padding-left: 40%;
}


.loggin{
    border-style: groove;
    padding-left: 40%;
    background-color: rgb(220, 241, 255);
    padding: 5px;
}

.container{
    border-color: black;
    border-radius: 20px;
}